/** for pages that don't load angular but have angular templates in them. **/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

body {
  background-image: url("src/images/background.jpg");
  background-repeat: repeat; }

.spinner {
  background-image: url(src/images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 100px;
  margin-top: 350px;
  margin-left: 45%; }

.searching-floors {
  margin-top: 70px !important;
  margin-bottom: 70px !important; }

.pagination {
  margin-left: 30%; }

.thumbnail {
  position: relative; }
  .thumbnail div img,
  .thumbnail div h3,
  .thumbnail div button {
    margin-top: 5%;
    margin-left: 13%; }
  .thumbnail div p.title {
    margin-top: -33px;
    margin-left: 17%;
    color: white;
    font-size: 17px; }

@media screen and (max-width: 1200px) {
  .thumbnail {
    position: relative; }
    .thumbnail div img,
    .thumbnail div h3,
    .thumbnail div button {
      margin-left: 0%; } }

@media screen and (max-width: 768px) {
  .thumbnail {
    position: relative; }
    .thumbnail div img,
    .thumbnail div h3,
    .thumbnail div button {
      margin-left: 30%; } }

@media screen and (max-width: 468px) {
  .spinner {
    background-image: url(src/images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 100px;
    margin-top: 80px !important;
    margin-left: 35% !important; }
  .thumbnail {
    position: relative; }
    .thumbnail div img,
    .thumbnail div h3,
    .thumbnail div button {
      margin-left: 0%; }
  .pagination {
    margin-left: 20% !important; } }

.slick-prev {
  position: absolute;
  margin-left: 30%;
  background-color: blue;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white; }

.slick-next {
  position: absolute;
  margin-left: 65%;
  background-color: blue;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white; }

ul.slick-dots li {
  position: relative;
  list-style-type: none;
  margin-top: 0px;
  margin-left: 38%; }

ul.slick-dots li button {
  float: left !important;
  display: inline !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: lightblue; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .slick-next {
    position: absolute;
    margin-left: 74%;
    background-color: blue;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: white; } }

@media screen and (max-width: 1200px) {
  .slick-prev {
    position: absolute;
    margin-left: 45%; }
  .slick-next {
    position: absolute;
    margin-left: 55%; } }

@media screen and (max-width: 768px) {
  .slick-prev {
    position: absolute;
    margin-left: 40%; }
  .slick-next {
    position: absolute;
    margin-left: 60%; } }

@media screen and (max-width: 480px) {
  .slick-prev {
    position: absolute;
    margin-left: 35%; }
  .slick-next {
    position: absolute;
    margin-left: 65%; } }

.price-form {
  margin-bottom: 10px;
  padding: 15px;
  background-color: #5cb85c; }

.price-form {
  margin-bottom: 10px;
  padding: 15px;
  background-color: #5cb85c; }

.price-form-row {
  margin-bottom: 10px; }

.listing-form-row, .listing-button {
  margin-top: 10px; }

.listing-form h3 {
  color: white; }

.comment {
  opacity: 0.5; }
  .comment.approved {
    opacity: 1; }
