.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 1s;
}


@-webkit-keyframes details {
  0%   { opacity: 0; margin-top:10px; height:0px;}
  100% { opacity: 1; margin-top: 30px; height: 120px;}
}
@-moz-keyframes details {
  0%   { opacity: 0; margin-top:10px; height:0px;}
  100% { opacity: 1; margin-top: 30px; height: 120px;}
}
@-o-keyframes details {
  0%   { opacity: 0; margin-top:10px; height:0px;}
  100% { opacity: 1; margin-top: 30px; height: 120px;}
}
@keyframes details {
  0%   { opacity: 0; margin-top:10px; height:0px;}
  100% { opacity: 1; margin-top: 30px; height: 120px;}
}

.check-element {
  -webkit-animation: details 1s; 
  -moz-animation:    details 1s; 
  -o-animation:      details 1s; 
  animation:         details 1s; 
  background-color: lightblue;
  margin-top: 30px;
  height: 120px;
  
  z-index: 100;
}   