 /** for pages that don't load angular but have angular templates in them. **/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    background-image: url("src/images/background.jpg");
    background-repeat: repeat;

}

.spinner{
	
      background-image: url(src/images/ajax-loader.gif);
      background-repeat: no-repeat;
      background-position: left top;
      padding-top:100px;
      margin-top:   350px;
      margin-left: 45%;

}


.searching-floors{
	
	margin-top:70px !important;
	margin-bottom:70px !important;
}

.pagination{
	margin-left:30%;
}

 .thumbnail{
 	position: relative;
 	   
 	   div img,
 	   div h3, 
 	   div button{
 	   	margin-top:5%;
 	   	margin-left: 13%;
 	   }

 	   div p.title{
 	      margin-top: -33px; 
 	      margin-left: 17%; 
 	      color:white; 
 	      font-size: 17px;
 	   }
 	  
 }   


 @media screen and (max-width: 1200px) {
 	 
 	

     .thumbnail{
	 	position: relative;  
	 	   
	 	   div img,
	 	   div h3,
	 	   div button{
	 	   margin-left: 0%;
	 	   }
	 	  
	 }  
}  

@media screen and (max-width: 768px) {
     
     

     .thumbnail{
	 	position: relative;
	 	   
	 	   div img,
	 	   div h3,
	 	   div button{
	 	   margin-left: 30%;
	 	  }
	 	  
	 }  
}  
 

@media screen and (max-width: 468px) {
    .spinner {
		  background-image: url(src/images/ajax-loader.gif);
		  background-repeat: no-repeat;
		  background-position: left top;
		  padding-top: 100px;
		  margin-top: 80px !important;
		  margin-left: 35% !important; }

     .thumbnail{
	 	position: relative;
	 	   
	 	   div img,
	 	   div h3,
	 	   div button{
	 	   margin-left: 0%;
	 	  }
	 	  
	 } 

  .pagination{
	margin-left:20% !important;
  } 
}  


