 /** for pages that don't load angular but have angular templates in them. **/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

@keyframes rotate360 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes rotate360 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
/*
.spinner {
  display:inline-block;
  border-radius: 50px;
  border-style: solid;
  border-bottom-color: #3b5641;
  border-top-color: #67b3a9;
  border-left-color: #df7950;
  border-right-color: #decb3f;
  text-align: center;
  vertical-align: middle;
  position: relative;
  animation: rotate360 1s linear infinite;
  -webkit-animation: rotate360 1s linear infinite;

  border-width: 4px;
  width: 24px;
  height: 24px;
}
*/

.spinner{
	//background-image: url("src/images/ajax-loader.gif");
	//background-repeat: no-repeat;


	  background-image: url(src/images/ajax-loader.gif);
      background-repeat: no-repeat;
      background-position: left top;
      padding-top:100px;
      margin-top:  28%;
      margin-left: 45%;

}

 .thumbnail{
 	position: relative;
 	   
 	   div img,
 	   div h3,
 	   div button{
 	   	margin-top:5%;
 	   	margin-left: 13%;
 	   }

 	   div p.title{
 	      margin-top: -33px; 
 	      margin-left: 17%; 
 	      color:white; 
 	      font-size: 17px;
 	   }
 	  
 }  


 @media screen and (max-width: 1200px) {
     .thumbnail{
	 	position: relative;
	 	   
	 	   div img,
	 	   div h3,
	 	   div button{
	 	   margin-left: 0%;
	 	   }
	 	  
	 }  
}  

@media screen and (max-width: 768px) {
     .thumbnail{
	 	position: relative;
	 	   
	 	   div img,
	 	   div h3,
	 	   div button{
	 	   margin-left: 30%;
	 	  }
	 	  
	 }  
}  

@media screen and (max-width: 468px) {
     .thumbnail{
	 	position: relative;
	 	   
	 	   div img,
	 	   div h3,
	 	   div button{
	 	   margin-left: 10%;
	 	  }
	 	  
	 }  
}  

@media screen and (max-width: 468px) {
     .thumbnail{
	 	position: relative;
	 	   
	 	   div img,
	 	   div h3,
	 	   div button{
	 	   margin-left: 0%;
	 	  }
	 	  
	 }  
}  
body {
    background-image: url("src/images/background.jpg");
    background-repeat: repeat;

}

.pagination{
	margin-left:30%;
}