 [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-    ng-cloak {
        display: none !important;
    }
 .thumbnail{
 	position: relative;
 	   
 	   div img,
 	   div h3,
 	   div button{
 	   	margin-top:5%;
 	   	margin-left: 13%;
 	   }

 	   div p.title{
 	      margin-top: -33px; 
 	      margin-left: 17%; 
 	      color:white; 
 	      font-size: 17px;
 	   }
 	  
 }   

  