.slick-prev {
  position: absolute;
  margin-left: 30%;
  background-color: blue;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white; }

.slick-next {
  position: absolute;
  margin-left: 65%;
  background-color: blue;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white; }

ul.slick-dots li {
  position: relative;
  list-style-type: none;
  margin-top: 0px;
  margin-left: 38%; }
  ul.slick-dots li button {
    float: left !important;
    display: inline !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: lightblue; }


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
   .slick-next{
      position: absolute;
      margin-left:74%;
      background-color: blue;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      color: white; 
  }
}
  

@media screen and (max-width: 1200px) {
    .slick-prev{
        position: absolute;
        margin-left:45%;
      }
      .slick-next{
        position: absolute;
        margin-left:55%;
      }
}  


@media screen and (max-width: 768px) {
    .slick-prev{
        position: absolute;
        margin-left:40%;
      }
      .slick-next{
        position: absolute;
        margin-left:60%;
      }
}  

@media screen and (max-width: 480px) {
    .slick-prev{
        position: absolute;
        margin-left:35%;
      }
      .slick-next{
        position: absolute;
        margin-left:65%;
      }
}  